# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Output files
!package.json

# OS
Thumbs.db
.DS_Store


*.xlsx

output/*.json
output/*.xlsx
